{% load staticfiles %}
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>Contact Us</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <link rel="stylesheet" type="text/css" href="{% static 'fontawesome/css/fontawesome-all.css' %}" />
    <link rel="stylesheet" href="{% static 'contact.css' %}" />
  </head>
  <body>
    <h1>Contacter Nous</h1>
    <ul>
      <li><i class="fas fa-fw fa-user"></i> Email: <a href="mailto:bmoez.j@gmail.com">bmoez.j@gmail.com</a></li>
      <li><i class="fas fa-fw fa-phone"></i> Phone: <a href="tel:+216222222222">22 222 222</a></li>
      <li><i class="fas fa-fw fa-globe"></i> WebSite: <a href="https://lejenome.github.io">lejenome.github.io</a></li>
      <li><i class="fab fa-fw fa-twitter"></i> Twitter: <a href="dsfdsgdsg">@bbbbbbb</a></li>
      <li><i class="fab fa-fw fa-github"></i> Github: <a href="https://github.com/lejenome">bbbbbbb</a></li>
      <li><i class="fab fa-fw fa-linkedin"></i> LinkedIn: <a href="https://linkedin.com/in/lejenome">@bbbbbbb</a></li>
      <li><i class="fas fa-fw fa-map-marker"></i> Adresse: Rt. fdsfdsfsdgsdgdsg</li>
    </ul>
  </body>
</html>
